<app-loading [showLoading]="showLoading"></app-loading>
<div class="container mt-3">
  <div class="nav">
    <div class="title">Car Brands List</div>
    <!-- <div class="filter-view">
      <mat-icon aria-hidden="false" aria-label="Example home icon"
        >keyboard_arrow_down</mat-icon
      >
      Update Later
    </div> -->
    <div class="search">
      <form class="search-box">
        <button type="submit">Search</button>
        <input type="search" placeholder="Search Car Brand" />
      </form>
    </div>
    <div class="button-action">
      <button
        class="margin-x"
        mat-raised-button
        color="primary"
        (click)="openAddBrand()"
      >
        + Add Brand
      </button>
      <button mat-raised-button color="primary">- Delete Brand</button>
    </div>
  </div>

  <div *ngIf="listBrand.length > 0" class="brands">
    <div *ngFor="let brand of listBrand" class="brands__item my-4">
      <div class="brands__item__logo">
        <mat-checkbox class="checkbox-common circle to-center"></mat-checkbox>
        <img [src]="brand.brandLogo" alt="Brand Logo" />
        <div
          [ngClass]="{ active: brand.status == 'Active' }"
          class="border-right"
        ></div>
      </div>
      <div class="brands__item__info">
        <div class="name">{{ brand.brandName }}</div>
        <div class="description">
          <span class="more">{{ brand.brandDescription }}</span> |
          <span class="model">{{ brand.totalModel }} Models</span>
        </div>
      </div>
      <div class="brands__item__update">
        <div class="name">Last Updated</div>
        <div class="time">{{ brand.updateAt }}</div>
      </div>
      <div
        [ngClass]="{ active: brand.status == 'Active' }"
        class="brands__item__status"
      >
        <div class="circle-status"></div>
        <div class="status">{{ brand.status }}</div>
      </div>
      <div class="brands__item__details">
        <button mat-stroked-button (click)="toDetails(brand)">
          View Details
        </button>
      </div>
    </div>
  </div>
  <div class="no-data" *ngIf="listBrand.length == 0">
    There is not Brand. Please create new brand
  </div>
</div>
