<div class="container mt-3">
  <div class="nav">
    <div class="title">Car Brands List</div>
    <!-- <div class="filter-view">
      <mat-icon aria-hidden="false" aria-label="Example home icon"
        >keyboard_arrow_down</mat-icon
      >
      Update Later
    </div> -->
    <div class="search">
      <form class="search-box">
        <button type="submit">Search</button>
        <input type="search" placeholder="Search Car Brand" />
      </form>
    </div>
    <div class="button-action">
      <button class="margin-x" mat-raised-button color="primary">
        + Add Brand
      </button>
      <button mat-raised-button color="primary">- Delete Brand</button>
    </div>
  </div>

  <div *ngIf="view" class="brands">
    <div class="brands__item">
      <div class="brands__item__logo">
        <mat-checkbox class="checkbox-common circle to-center"></mat-checkbox>
        <img
          src="https://img1.pnghut.com/t/18/10/22/684yDCrHPq/brand-area-daihatsu-history-of-toyota-car.jpg"
          alt="Brand Logo"
        />
        <div class="border-right"></div>
      </div>
      <div class="brands__item__info">
        <div class="name">Toyota</div>
        <div class="description">
          <span class="more">Jeep Grand Cherokee</span> |
          <span class="model">1200 Models</span>
        </div>
      </div>
      <div class="brands__item__update">
        <div class="name">Last Updated</div>
        <div class="time">
          25/12/2022
        </div>
      </div>
      <div class="brands__item__status">
        <div class="circle-status"></div>
        <div class="status">Inactive</div>
      </div>
      <div class="brands__item__details">
        <button mat-stroked-button>View Details</button>
      </div>
    </div>
  </div>
  <div class="no-data" *ngIf="!view">
    There is not Brand. Please create new brand
  </div>
</div>
